*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: #333;
    color:#fff;
}

img{
    width: 50%;
    height: 50%;
    display: block;
}
.fija{
    background-color: aqua;
    color: orangered;
    position: fixed;
}
.header{
    text-align: center;
    background-color: lightblue;
    color: orangered;
    position: sticky;
}